<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'EMAIL' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.email }}</h5>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'ROLE' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.role | trans}}</h5>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'ACTIVE' | trans }}</h4>
			<h5 class="card-subtitle">
                {% if entity.isActive %}
                    <span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>
                {% else %}
                    <span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>
                {% endif %}
            </h5>
		</div>
	</div>
</div>
